aiohttp
hachoir
numpy
Pillow
requests
tgcrypto
olefile
motor
pytz
utils
pymongo
pyrogram>=2.0.106
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
ffmpeg
aiofiles
pyromod
yt-dlp
pytube
flask
gunicorn==20.1.0
